body{
	text-align: center;
}

#topbutton{
	margin-bottom:4rem;
	
	
}

table{
	margin:auto;
	margin-bottom:4rem;
}
footer{
	display:flex !important;
	justify-content: space-around;
}

button{
	font-weight:bold;
}

table td{
	padding:1rem;
}

.tblHeader{
	font-weight:bold;
}