body{
	text-align: center;
}
img{
	height: 6rem;
}
.containers img{
	height:23rem !important;
	margin-left: 5rem;
}

footer {
	display: flex !important;
	justify-content: space-around;
}
.options{
	display: flex;
	flex-wrap: wrap;
}

.options button{
	flex: 1 1 45%;
}

.brand__logo{
	height:6rem !important;
	float: left;
}

.confirmation{
	font-weight: bold;
	margin-top: 2rem;
	float:right;
}