img{
	height:6rem;
	float:left;
}

.nav{
	display:flex;
	justify-content: center;
	margin-top: 6px;
}

.nav button{
	font-weight: bold;
}

.nav button:hover{
	background-color: royalblue;
	color:white;
}

.confirmation{
	float:right;
	font-weight: bold;
	margin-top:-4rem;
}