
img{
	height:6rem;
	float:left;
}

.confirmation{
	float:right;
	margin-top:-3rem;
	margin-right:3rem;
}

ul{
	display:flex;
	justify-content: center;

}
.nav button{
	font-weight: bold;
}

.nav button:hover{
	background-color: royalblue;
	color:white;
}



